.card_prodcutos{
    width: 270px;
    height: 300px;
}
.card_imagen{
    width: 240px;
    height: 200px;
}
.boton-ejemplo{
    width: 30px;
    height:30px;
    border-radius: 50%;
    transition: all .5s;
    border: 3px #ffffff solid;
    margin-right: 240px;
}

.boton-ejemplo i{
    transition: all .5s;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.boton-ejemplo:hover {
    border: 3px #ffffff solid;
}

.boton-ejemplo:hover i{
    transform: rotate(90deg);
}
.linea{
    height: 1px;
    width: 400px;
    background-color: #000;
    margin-left: 50px;

}

.cantidades{
    margin-left: 178px;
}

.linea3{
    height: 0.8px;
    width: 400px;
    background-color: #000;
    margin-left: 50px;

}

.text-producto {
    flex-grow: 1; /* Hace que el texto ocupe todo el espacio disponible */
    margin-right: 10px; /* Ajusta el margen entre el texto y los botones */
    text-align: left; /* Alinea el texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento del texto si es muy largo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
}

.btn-group-mas-menos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mas_menos {
    height: 40px !important;
    width: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-pedidos {
    width: 500px !important;
    height: 620px !important;
    margin-top: 10px !important;
    border: none;
    border-radius: 15px;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.productos-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100% - 150px); /* Ajusta según el espacio que ocupa el total y el botón */
    margin-bottom: 20px; /* Espacio para el botón */
}

.boton-pedido {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: auto;
    position: relative;
    bottom: 10px;
}
