<section class="">
    <div class="mt-2 text-center d-flex">
        <div class="ms-2 mt-3">
            <div class="row row-cols-md-4 col-10 ms-3">
                @for (producto of dataProductos; track $index) {
                    <div class="card m-1 card_prodcutos btn cardventas" (click)="agregarProductoLS({nombre: producto.producto, valor: producto.precio, cantidad:null})">
                        <div class="card-body ps-1 pt-3 me-3 text-start">
                            <img [src]="producto.imagen" width="" class="card_imagen d-flex justify-content-end rounded-2" alt="" />
                            <h5 class="card-title titulo">{{ producto.producto }}</h5>
                            <p class="card-text">${{ producto.precio }}</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-md-4 rounded-start caja-fondo">
                <div class="card barra-pedidos" style="width: 18rem">
                    <div class="ms-4 mt-3 text-start fs-1 fw-bold">
                        <p>Pedido</p>
                    </div>
                    <div class="fs-2 d-flex justify-content-around mt-4 mb-5">
                        <p>Productos</p>
                        <p>Cantidad</p>
                    </div>
                    <div class="linea"></div>

                    <!-- Aquí agregamos la clase productos-container -->
                    <div class="productos-container">
                        @for (prodCarrito of carritoActual; track $index) {
                            <div class="d-flex justify-content-between align-items-center my-2">
                                <p class="fs-4 text-producto mb-0">{{ prodCarrito.nombre }} - ${{ prodCarrito.valor * prodCarrito.cantidad }}</p>
                                <div class="btn-toolbar btn-group-mas-menos" role="toolbar" aria-label="Toolbar with button groups">
                                    <button type="button" class="btn btn-secondary mas_menos" (click)="modificarProductoResumen('restar', prodCarrito.cantidad, $index)">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <p class="fs-4 mx-2 mb-0">{{ prodCarrito.cantidad }}</p>
                                    <button type="button" class="btn btn text-white mas_menos botonpagp" (click)="modificarProductoResumen('sumar', prodCarrito.cantidad, $index)">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="linea3"></div>
                    <div>
                        <p class="fs-2 fw-bold mt-1">Total: {{totalCompra | currency:'USD':'symbol':'1.0-0'}}</p>
                    </div>
                    <div class="mt-5 boton-pedido">
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 d-flex" id="exampleModalToggleLabel">
                                            <p class="fs-2 fw-bold mt-1">Total a pagar:{{totalCompra | currency:'USD':'symbol':'1.0-0'}}</p>
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body fw-semibold fs-5 text-start">
                                        <p class="fw-bold">Métodos de pago</p>
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                                                <label class="form-check-label" for="flexRadioDefault1">Efectivo</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                                                <label class="form-check-label" for="flexRadioDefault2">Tarjeta débito o crédito</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                                                <label class="form-check-label" for="flexRadioDefault3">Nequi o Daviplata</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn botonpagp text-white"  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Proceder al pago</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Detalles de pago</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="fs-2 fw-bold mt-1">Total a pagar:{{totalCompra | currency:'USD':'symbol':'1.0-0'}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn text-white botonpagp" data-bs-dismiss="modal" (click)="confirmarPago()">Confirmar pago</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn botonpagp text-white fs-5 mt-5" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Hacer pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
