<nav class="navbar">
    <a class="navbar-brand ms-3" href="#">
        <img
            src="img/LOGO STADISTIC.png"
            alt="Bootstrap"
            width="50"
            height="50"
            class="ms-4"
        />
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <button type="button" class="btn btn-success">Registrate</button>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link text-dark" href="#">Inicia sesion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Contactanos</a>
        </li>
    </ul>
</nav>
<body>
    <div class="d-flex align-items-center pagina-principal">
        <img src="img/mano_estadisticas.png" class="imagen_mano" />
        <div class="" style="width: 450px; height: 505px">
            <p class="titulo fw-bold">Controla tu negocio</p>
            <p class="parrafo fw-bolder">
                Usa nuestro software para controla tu negocio desde tu celular
            </p>
            <div>
                <button type="button" class="botonend btn btn-outline-success fw-bolder">
                    Conoce mas <i class="fa-solid fa-caret-down"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center pagina-secundaria">
        <div class="ms-5 ">
            <p class="fw-bold pvideo">Como funciona</p>
        </div>
        <video width="800" controls class="">
            <source src="img/video_jas.mp4" type="video/mp4">
        </video>
    </div>
</body>
